<section class="message">
  <div class="block">
    <div class="message_block">
      <div class="head">
        <p>Сповіщення 654654654654654</p>
      </div>
      <div class="cont">
        <div class="date">
          <p class="p3">Дата</p>
          <p class="p2">15.09.2021</p>
        </div>
        <div class="theme">
          <p class="p3">Тема</p>
          <p class="p1">Назва теми повідомлення</p>
        </div>
        <p class="p1">Висока якість представленої продукції та європейський рівень сервісу, залучення досвіду та безпосередня співпраця з провідними світовими виробниками вело індустрії – всі ці характерні риси діяльності "ВЕЛОПОРТАЛ" забезпечили їй заслужений авторитет серед клієнтів, та позицію беззаперечного лідера на велосипедному ринку України.</p>
      </div>
    </div>

  </div>
</section>
