<section class="main_page" id="main_page">
  <div class="block">
    <div class="content">
      <div class="sliders">
        <div class="item">
          <div class="head">
            <h6>Суперціна</h6>
          </div>
          <div class="super_price" id="super_price">
            <div class="product">
              <div class="img">
                <source [srcset]="'assets/img/super-price.webp'" type="image/webp">
                <img [src]="'assets/img/super-price.jpg'" alt="img">
              </div>
              <a href="#" class="description">
                <div class="text">
                  <h6>Окуляри TIFOSI INTENSE IRON з лінзами GT</h6>
                  <p>Дана модель має легку, проте міцну ударостійку оправу, тоді як лінзи виготовлені зі стійкого до подряпин полікарбонату. Дана модель має легку Дана модель має легку, проте міцну ударостійку оправу, тоді як лінзи виготовлені зі стійкого до подряпин полікарбонату. Дана модель має легку</p>
                </div>
                <div class="price">
                  <p>Гуртова ціна</p>
                  <h4>960 грн.</h4>
                </div>
              </a>
            </div>
            <div class="product">
              <div class="img">
                <source [srcset]="'assets/img/news.webp'" type="image/webp">
                <img [src]="'assets/img/news.jpg'" alt="img">
              </div>
              <a href="#" class="description">
                <div class="text">
                  <h6>Насоси GIYO - завжди щось новеньке</h6>
                  <p>Насоси GIYO вже багато років зарекомендували себе як надійний партнер всіх велосипедистів у кожній подорожі. Найпопулярніший насос професіоналів і велолюбителів. Лідерство компанії полягає у</p>
                </div>
                <div class="price">
                  <p>Гуртова ціна</p>
                  <h4>1520 грн.</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="sliders move">
        <div class="item">
          <div class="head">
            <h6>Новини</h6>
          </div>
          <div class="news" id="news">
            <div class="product">
              <div class="img">
                <source [srcset]="'assets/img/news.webp'" type="image/webp">
                <img [src]="'assets/img/news.jpg'" alt="img">
              </div>
              <div class="description">
                <a href="#" class="text">
                  <h6>Насоси GIYO - завжди щось новеньке</h6>
                  <p>Насоси GIYO вже багато років зарекомендували себе як надійний партнер всіх велосипедистів у кожній подорожі. Найпопулярніший насос професіоналів і велолюбителів. Лідерство компанії полягає у Насоси GIYO вже багато років зарекомендували себе як надійний партнер всіх велосипедистів у кожній подорожі. Найпопулярніший насос професіоналів і велолюбителів. Лідерство компанії полягає у</p>
                </a>
                <a [routerLink]="['/news']" class="all_news">
                  <p>Усі новини</p>
                </a>
              </div>
            </div>
            <div class="product">
              <div class="img">
                <source [srcset]="'assets/img/super-price.webp'" type="image/webp">
                <img [src]="'assets/img/super-price.jpg'" alt="img">
              </div>
              <div class="description">
                <a href="#" class="text">
                  <h6>Окуляри TIFOSI INTENSE IRON з лінзами GT</h6>
                  <p>Дана модель має легку, проте міцну ударостійку оправу, тоді як лінзи виготовлені зі стійкого до подряпин полікарбонату. Дана модель має легку Дана модель має легку, проте міцну ударостійку оправу, тоді як лінзи виготовлені зі стійкого до подряпин полікарбонату. Дана модель має легку</p>
                </a>
                <a href="#" class="all_news">
                  <p>Усі новини</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="latest_arrivals">
        <div class="head">
          <h6>Останні надходження</h6>
        </div>
        <div class="links">
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
          <a href="#">
            <span>25.08.2021</span>
            <p>Шкарпетки R2 Tour чорний/лайм/червоний/синій M (42.43)</p>
          </a>
        </div>
        <a [routerLink]="['/catalog']"  class="btn1 to_catalog">
          До каталогу товарів
        </a>
      </div>
      <div class="infos">
        <div class="item">
          <div class="editBlock">
            <h4>Велопортал <span>(HTML editable block)</span></h4>
            <p>Компанія ВЕЛОПОРТАЛ – один з найбільших імпортерів велосипедів, компонентів та аксесуарів на ринку України. Заснована в 2008 році. Протягом останніх 8 років є офіційним представником торгівельних марок в Україні: Kellys, KLS, Fireyee, Alligator, SuperB, Stans NoTubes, Schwalbe, KMC, R.S.P., PAC, Tifosi, Goggle, R2, VDO, TopAction, Pillar, iMPAC, HydraKnight, Wellgo, Giyo.
            Висока якість представленої продукції та європейський рівень сервісу, залучення досвіду та безпосередня співпраця з провідними світовими виробниками вело індустрії – всі ці характерні риси діяльності ВЕЛОПОРТАЛ забезпечили їй заслужений авторитет серед клієнтів, та позицію беззаперечного лідера на велосипедному ринку України.
            Компанія ВЕЛОПОРТАЛ постійно шукає можливості для розширення своєї дилерської мережі. Ми завжди намагаємося знайти кращий підхід до кожного клієнта.
            У компанії ВЕЛОПОРТАЛ ми віримо в те, що все залежить від людей. Весь персонал ВЕЛОПОРТАЛ поділяє пристрасть до нашої спільної справи. Команда ВЕЛОПОРТАЛ вірить у професійність, командну роботу та високі етичні норми. Сьогодні у нашій компанії працюють кращі спеціалісти. Лідерство та мотивація – ось рушійна сила й ключовий фактор успіху.
            Соціальна відповідальність
            Ми впевнені, що залишатися осторонь від болючих питань сьогодення не повинна жодна компанія. ВЕЛОПОРТАЛ виступає за активну соціальну позицію, закликає усіх бути небайдужими і створювати свої, або приєднуватися до діючих соціальних ініціатив. До вашої уваги наші соціальні проекти – 1.5m.org.ua; bikeday.org.ua; biketrack.in.ua</p>
          </div>
        </div>
      </div>
      <div class="infos">
        <div class="item">
          <div class="head">
            <h6>Відео</h6>
          </div>
          <iframe width="" height="" src="https://www.youtube.com/embed/6rXXoUL0Zfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="text">
            <h6>Назва відео. Насоси GIYO - завжди щось новеньке</h6>
            <a href="https://www.youtube.com/channel/UC49cg_EQmDvkNunAblTgdPw/featured" target="_blank">
              <p>Перейти на канал Велопортал</p>
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 1H12M12 1V8M12 1L2 11" stroke="" stroke-width="2" stroke-linecap="square"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
