<section class="cart">
  <div class="block">
    <div class="block_1200" id="cart_block">

      <div class="head">
        <p>Ваше замовлення</p>
        <p class="color_red">Товари не в резерві. Для резерву завершіть замовлення, натиснувши “Замовити”</p>
      </div>

      <p class="title_unavailable">Недоступні товари</p>

      <div class="item unavailable">
        <div class="first_block">
          <div class="img">
            <picture>
              <source [srcset]="'assets/img/cart/img.webp'" type="image/webp">
              <img [src]="'assets/img/cart/img.jpg'" alt="img">
            </picture>
          </div>
          <div class="vendor_code">LENS-MAST-EC</div>
          <div class="title">Лінзи до окулярів Tifosi Mast Extreme Contrast (EC)</div>
        </div>
        <div class="second_block">
          <div class="price">607.65</div>
          <a [routerLink]="['/catalog']" target="_blank" class="replace_goods">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.92893 4.92893C2.97631 6.88155 2 9.44078 2 12H3.93248C4.3564 12 4.58798 12.4944 4.31659 12.8201L0.88411 16.9391C0.584729 17.2983 0 17.0866 0 16.619V12C0 8.92893 1.17157 5.85786 3.51472 3.51472C7.0321 -0.00266075 12.1898 -0.880008 16.5254 0.882675C16.8451 1.01265 16.9165 1.42437 16.6724 1.6684L15.8839 2.45692C15.7434 2.59743 15.5334 2.64028 15.346 2.57394C11.8254 1.32695 7.74592 2.11194 4.92893 4.92893Z" fill="#F55248"/>
              <path d="M19.0711 19.0711C21.0237 17.1184 22 14.5592 22 12H20.0675C19.6436 12 19.412 11.5056 19.6834 11.1799L23.1159 7.06093C23.4153 6.70168 24 6.91338 24 7.38102V12C24 15.0711 22.8284 18.1421 20.4853 20.4853C16.9677 24.0029 11.8096 24.8801 7.47376 23.117C7.15409 22.987 7.0828 22.5753 7.32681 22.3313L8.1153 21.5428C8.25582 21.4023 8.46589 21.3594 8.6532 21.4258C12.174 22.6732 16.2539 21.8883 19.0711 19.0711Z" fill="#F55248"/>
            </svg>
            Замінити товар
          </a>
        </div>
        <div class="close">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999939L7 6.99994M7 6.99994L13 0.999939M7 6.99994L1 12.9999M7 6.99994L13 12.9999" stroke="" stroke-width="2"/>
          </svg>
        </div>
      </div>
      <div class="item unavailable">
        <div class="first_block">
          <div class="img">
            <picture>
              <source [srcset]="'assets/img/cart/img.webp'" type="image/webp">
              <img [src]="'assets/img/cart/img.jpg'" alt="img">
            </picture>
          </div>
          <div class="vendor_code">LENS-MAST-EC</div>
          <div class="title">Лінзи до окулярів Tifosi Mast Extreme Contrast (EC)</div>
        </div>
        <div class="second_block">
          <div class="price">607.65</div>
          <a [routerLink]="['/catalog']" target="_blank" class="replace_goods">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.92893 4.92893C2.97631 6.88155 2 9.44078 2 12H3.93248C4.3564 12 4.58798 12.4944 4.31659 12.8201L0.88411 16.9391C0.584729 17.2983 0 17.0866 0 16.619V12C0 8.92893 1.17157 5.85786 3.51472 3.51472C7.0321 -0.00266075 12.1898 -0.880008 16.5254 0.882675C16.8451 1.01265 16.9165 1.42437 16.6724 1.6684L15.8839 2.45692C15.7434 2.59743 15.5334 2.64028 15.346 2.57394C11.8254 1.32695 7.74592 2.11194 4.92893 4.92893Z" fill="#F55248"/>
              <path d="M19.0711 19.0711C21.0237 17.1184 22 14.5592 22 12H20.0675C19.6436 12 19.412 11.5056 19.6834 11.1799L23.1159 7.06093C23.4153 6.70168 24 6.91338 24 7.38102V12C24 15.0711 22.8284 18.1421 20.4853 20.4853C16.9677 24.0029 11.8096 24.8801 7.47376 23.117C7.15409 22.987 7.0828 22.5753 7.32681 22.3313L8.1153 21.5428C8.25582 21.4023 8.46589 21.3594 8.6532 21.4258C12.174 22.6732 16.2539 21.8883 19.0711 19.0711Z" fill="#F55248"/>
            </svg>
            Замінити товар
          </a>
        </div>
        <div class="close">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999939L7 6.99994M7 6.99994L13 0.999939M7 6.99994L1 12.9999M7 6.99994L13 12.9999" stroke="" stroke-width="2"/>
          </svg>
        </div>
      </div>

      <div class="item title_available">
        <div class="img">
          <p>Фото</p>
        </div>
        <div class="vendor_code">
          <p>Артикул</p>
        </div>
        <div class="title">
          <p>Найменування</p>
        </div>
        <div class="price">
          <p>Ціна, <span>₴</span></p>
        </div>
        <div class="quantity">
          <p>Кількість</p>
        </div>
        <div class="units">
          <p>Од. вим.</p>
        </div>
        <div class="income">
          <p>Дохід, <span>%</span></p>
        </div>
        <div class="sum">
          <p>Сума, <span>₴</span></p>
        </div>
      </div>

      <div class="item">
        <a [routerLink]="['/product', '12']">
          <div class="first_block">
            <div class="img">
              <picture>
                <source [srcset]="'assets/img/cart/img.webp'" type="image/webp">
                <img [src]="'assets/img/cart/img.jpg'" alt="img">
              </picture>
            </div>
            <div class="vendor_code">
              <p>артикул</p>
              LENS-MAST-EC
            </div>
            <div class="title">
              <p>Найменування</p>
              Лінзи до окулярів Tifosi Mast Extreme Contrast (EC)
            </div>
          </div>
          <div class="second_block">
            <div class="price">
              <p>Ціна, <span>₴</span></p>
              607.65
            </div>
            <div class="quantity">
              <p>Кількість</p>
              10
            </div>
            <div class="units">
              <p>Од. вим.</p>
              шт.
            </div>
            <div class="income">
              <p>Дохід, <span>%</span></p>
              40
            </div>
            <div class="sum">
              <p>Сума, <span>₴</span></p>
              6076.5
            </div>
          </div>
        </a>
        <div class="close">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999939L7 6.99994M7 6.99994L13 0.999939M7 6.99994L1 12.9999M7 6.99994L13 12.9999" stroke="" stroke-width="2"/>
          </svg>
        </div>
      </div>
      <div class="item">
        <a [routerLink]="['/product', '12']">
          <div class="first_block">
            <div class="img">
              <picture>
                <source [srcset]="'assets/img/cart/img.webp'" type="image/webp">
                <img [src]="'assets/img/cart/img.jpg'" alt="img">
              </picture>
            </div>
            <div class="vendor_code">
              <p>артикул</p>
              LENS-MAST-EC
            </div>
            <div class="title">
              <p>Найменування</p>
              Лінзи до окулярів Tifosi Mast Extreme Contrast Mast Extreme Contrast (EC) Лінзи до окулярів Tifosi Mast Extreme Contrast Mast Extreme Contrast (EC) Лінзи до окулярів Tifosi Mast Extreme Contrast Mast Extreme Contrast (EC)
            </div>
          </div>
          <div class="second_block">
            <div class="price">
              <p>Ціна, <span>₴</span></p>
              <div class="old">907.65</div>
              <div class="present">607.65</div>
            </div>
            <div class="quantity">
              <p>Кількість</p>
              10
            </div>
            <div class="units">
              <p>Од. вим.</p>
              шт.
            </div>
            <div class="income">
              <p>Дохід, <span>%</span></p>
              40
            </div>
            <div class="sum">
              <p>Сума, <span>₴</span></p>
              6076.5
            </div>
          </div>
        </a>
        <div class="close">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999939L7 6.99994M7 6.99994L13 0.999939M7 6.99994L1 12.9999M7 6.99994L13 12.9999" stroke="" stroke-width="2"/>
          </svg>
        </div>
      </div>


      <form action="">
        <div class="drop_shipment" id="drop_shipment">
          <h6>Drop Shipment</h6>
          <div class="radioButtons">
            <label class="radio" id="radio_var1">
              <input type="radio" checked name="radioButtons">
              <span>Так</span>
            </label>
            <label class="radio" id="radio_var2">
              <input type="radio" name="radioButtons">
              <span>Ні</span>
            </label>
          </div>
          <div class="variant1">
            <div class="field1">
              <p>Номер ТТН:</p>
              <input type="text" required>
              <p class="require">Заповніть поле</p>
            </div>
            <p class="or">або</p>
            <div class="field2">
              <input type="file"  id="cart_file">
              <label for="cart_file">
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 0C11.7614 0 14 2.23858 14 5V17C14 20.866 10.866 24 7 24C3.13401 24 0 20.866 0 17V9H2V17C2 19.7614 4.23858 22 7 22C9.7614 22 12 19.7614 12 17V5C12 3.34315 10.6569 2 9 2C7.3431 2 6 3.34315 6 5V17C6 17.5523 6.4477 18 7 18C7.5523 18 8 17.5523 8 17V6H10V17C10 18.6569 8.6569 20 7 20C5.3431 20 4 18.6569 4 17V5C4 2.23858 6.2386 0 9 0Z" fill="#292C37"/>
                </svg>
                <p>Додайте файл ТТН</p>
              </label>
              <div class="text">
                <p>Файли .pdf, .jpeg, .jpg</p>
                <p>З сайту Нової Пошти 100х100 типу “зебра”, .pdf</p>
              </div>
            </div>
          </div>
          <div class="variant2">
            <h6>Оберіть адресу доставки та контактну особу:</h6>
            <p>Адреса:</p>
            <div class="field">
              <div class="click_area">
                <input type="text" value="Київська обл., с. Чайки, вул. Валерія Лобановського, 25">
                <div class="select">
                  <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2L6 6L2 2" stroke="#292C37" stroke-width="2" stroke-linecap="square"/>
                  </svg>
                </div>
              </div>
              <div class="drop">
                <span>Київська обл., с. Чайки, вул. Валерія Лобановського, 25</span>
                <span>Київська обл., с. Чайки, вул. Валерія Лобановського, 26</span>
                <span>Київська обл., с. Чайки, вул. Валерія Лобановського, 27</span>
              </div>
            </div>
            <p>Отримувач:</p>
            <div class="field">
              <div class="click_area">
                <input type="text" value="Константинопольский Константин Константинович">
                <div class="select">
                  <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2L6 6L2 2" stroke="#292C37" stroke-width="2" stroke-linecap="square"/>
                  </svg>
                </div>
              </div>
              <div class="drop">
                <span>Константинопольский Константин Константинович</span>
                <span>Вернер Гэйзенберг</span>
                <span>Альберт Эйнштейн</span>
              </div>
            </div>
            <div class="info">
              <picture>
                <source [srcset]="'assets/img/cart/info.webp'" type="image/webp">
                <img [src]="'assets/img/cart/info.png'" alt="img">
              </picture>
              <p>Додати до цього списку додаткові адреси та отримувачів можна через зворотній зв’язок або листом на <a href="mailto:info@veloportal.com.ua.">info@veloportal.com.ua.</a></p>

            </div>
          </div>
        </div>

        <div class="total">
          <p>Сума знижки: <span>107.65 ₴</span></p>
          <p class="total_sum">Всього на суму: <span>607.65 ₴</span></p>
          <input type="submit" value="Підтвердити замовлення" class="btn2" id="modal_confirm_btn" data-confirm-message="Ваше замовлення прийняте.Ми зв’яжемося з вами найближчим часом.">
        </div>
      </form>

    </div>

  </div>
</section>
