<section class="product">
  <div class="block">
    <div class="block_1200" id="product_block">

      <div class="visual">
        <div class="examples"></div>
        <div class="bigImg">
          <div class="img">
            <picture>
              <source [srcset]="'assets/img/product/product.webp'" type="image/webp">
              <img [src]="'assets/img/product/product.jpg'" alt="img">
            </picture>
          </div>
          <!-- <div class="img">
            <picture>
              <source [srcset]="'assets/img/product/product.webp'" type="image/webp">
              <img [src]="'assets/img/product/product.jpg'" alt="img">
            </picture>
          </div> -->
          <!-- <div class="img">
            <iframe width="" height="" src="https://www.youtube.com/embed/6rXXoUL0Zfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->
          <!-- <div class="img">
            <iframe width="" height="" src="https://www.youtube.com/embed/6rXXoUL0Zfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->
        </div>
        <div class="novelty">Новинка</div>
      </div>

      <div class="info">
        <h4>Лінзи до окулярів Tifosi Mast Extreme Contrast (EC)</h4>
        <div class="vendorCode">
          <p>Артикул</p>
          <h6>LENS-MAST-EC</h6>
        </div>
        <div class="prices">
          <div class="wholesale">
            <p>Гуртова ціна</p>
            <div class="discount">
              <div class="old_price">1500</div>
              <div class="percent">-30%</div>
            </div>
            <div class="present_price">1000 ₴<span> до 01.11</span></div>
          </div>
          <div class="extra_charge">
            <p>Націнка</p>
            <div class="percent">80%</div>
          </div>
          <div class="retail_price">
            <p>РРЦ</p>
            <div class="price">10 000 ₴</div>
            <p>РРЦ за шт. 1000 ₴</p>
          </div>
        </div>
        <div class="order">
          <div class="in_stock">
            <p>На складі: <span>> 40 шт.</span></p>
          </div>
          <div class="counter">
            <div class="minus">
              <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 1.00008H0" stroke="" stroke-width="2"/>
              </svg>
            </div>
            <input type="" name="" class="number" value="1" placeholder="1">
            <div class="plus">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 7.62939e-05V8.00008M8 8.00008H16M8 8.00008H0M8 8.00008V16.0001" stroke="" stroke-width="2"/>
              </svg>
            </div>
          </div>
          <button type="button" class="btn2">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 20C10.1046 20 11 19.1046 11 18C11 16.8954 10.1046 16 9 16C7.89543 16 7 16.8954 7 18C7 19.1046 7.89543 20 9 20Z" fill=""/>
              <path d="M19 18C19 19.1046 18.1046 20 17 20C15.8954 20 15 19.1046 15 18C15 16.8954 15.8954 16 17 16C18.1046 16 19 16.8954 19 18Z" fill=""/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.59468 0.378732C4.53904 0.156148 4.33905 0 4.10961 0H0.5C0.223858 0 0 0.223858 0 0.5V1.5C0 1.77614 0.223858 2 0.5 2H3L5.82112 14.2249C5.92583 14.6786 6.32986 15 6.79551 15H19.3636C19.8469 15 20.2611 14.6544 20.3475 14.1789L21.9839 5.17889C22.0955 4.56505 21.6239 4 21 4H6.28078C5.89648 4 5.55349 3.78096 5.38678 3.44828C5.35443 3.38372 5.32872 3.31488 5.31063 3.24254C5.07199 2.28794 4.82864 1.33449 4.59468 0.378732ZM5.97199 5.98418L7.59103 13H18.5291L19.8018 6H6.28078C6.17674 6 6.07371 5.99465 5.97199 5.98418Z" fill=""/>
            </svg>
            <p>У кошик</p>
          </button>
        </div>
      </div>

      <div class="description">
        <h6>Опис:</h6>
        <p>Лінзи з підвищеною контрастністю Extreme Contrast™ (EC) мають пропускну здатність 39,1% та відфільтровують синій колір, підвищуючи контрастність на зеленому фоні.</p>
        <div class="more">
          <p>Japanese artist Tanabe Chikuunsai IV threads strips of bamboo together into monumental works that appear to grow from walls and ceilings. His hollow, circular creations utilize a style of rough weaving that his family has practiced for generations—Tanabe’s father, grandfather, and great-grandfather all worked with traditional craft techniques and shared the name Chikuunsai, which translates to “bamboo cloud”—and result in installations that are massive in scale as they coil across rooms, stretch dozens of feet into the air, and loop around support beams.
          Because his family has been steeped in the practice for decades, Tanabe began weaving as a child, and today, he continues to build on the traditions he learned early on, expanding from smaller baskets and pods to larger, site-specific works made with the pliable wood material. “The appearance of my grandfather weaving a basket was very beautiful and elegant. I felt art. Now I feel that bamboo is the most beautiful material, and I believe that bamboo art has endless possibilities,” he tells Colossal.
          Лінзи з підвищеною контрастністю Extreme Contrast™ (EC) мають пропускну здатність 39,1% та відфільтровують синій колір, підвищуючи контрастність на зеленому фоні.</p>
        </div>
        <button type="button">Показати більше</button>
      </div>

      <div class="extra_options">
        <h6>Додаткові параметри:</h6>
        <div class="cont">
          <div>
            <p>Лінзи детально:</p>
            <h6>Extreme Contrast (EC)</h6>
          </div>
          <div>
            <p>Бренд</p>
            <h6>Tifosi</h6>
          </div>
          <div>
            <p>Сумісні з окулярами:</p>
            <h6>Tifosi Mast</h6>
          </div>
          <div>
            <p>Тип товару:</p>
            <h6>Лінзи</h6>
          </div>
          <div>
            <p>Колір:</p>
            <h6>фіолетові</h6>
          </div>
          <div>
            <p>Категорія:</p>
            <h6>2 (пропускна здатність 39,1%)</h6>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
