<section class="messages">
  <div class="block">
    <div class="block_1200">

      <a [routerLink]="['/messages', 'create']" href="messages-Add.php" class="btn2">Нове повідомлення</a>

      <form action="" class="search_form" id="search_form">
        <div class="title">
          <p class="p3">ФОП</p>
          <p class="p3">Номер</p>
          <p class="p3">Назва магазину</p>
          <p class="p3">Тема</p>
          <p class="p3">Текст</p>
          <p class="p3 last">Дата</p>
        </div>
        <div class="search">
          <div class="searchSmall">
            <p class="p3">Пошук за:</p>
            <div class="choise">
              <p class="p3">ФОП</p>
              <div>
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 2L6 6L2 2" stroke="#292C37" stroke-width="2" stroke-linecap="square"/>
                </svg>
              </div>
              <div class="drop">
                <span class="var_1">ФОП</span>
                <span class="var_2">Номер</span>
                <span class="var_3">Назва магазину</span>
                <span class="var_4">Тема</span>
                <span class="var_5">Дата</span>
              </div>
            </div>
          </div>
          <div class="item input_1">
            <div>
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13C7.77408 13 8.96255 12.6334 9.96569 12H10.5865L13.59 15L15 13.59L12 10.5865V9.96569C12.6334 8.96255 13 7.77408 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13ZM6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="#94969B"/>
              </svg>
              <input type="text">
            </div>
          </div>
          <div class="item input_2">
            <div>
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13C7.77408 13 8.96255 12.6334 9.96569 12H10.5865L13.59 15L15 13.59L12 10.5865V9.96569C12.6334 8.96255 13 7.77408 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13ZM6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="#94969B"/>
              </svg>
              <input type="text">
            </div>
          </div>
          <div class="item input_3">
            <div>
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13C7.77408 13 8.96255 12.6334 9.96569 12H10.5865L13.59 15L15 13.59L12 10.5865V9.96569C12.6334 8.96255 13 7.77408 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13ZM6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="#94969B"/>
              </svg>
              <input type="text">
            </div>
          </div>
          <div class="item input_4">
            <div>
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13C7.77408 13 8.96255 12.6334 9.96569 12H10.5865L13.59 15L15 13.59L12 10.5865V9.96569C12.6334 8.96255 13 7.77408 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13ZM6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="#94969B"/>
              </svg>
              <input type="text">
            </div>
          </div>
          <div class="item input_5">
            <div>
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13C7.77408 13 8.96255 12.6334 9.96569 12H10.5865L13.59 15L15 13.59L12 10.5865V9.96569C12.6334 8.96255 13 7.77408 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13ZM6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="#94969B"/>
              </svg>
              <input type="text">
            </div>
          </div>
        </div>
      </form>

      <a [routerLink]="['/messages', 'view', '12']" class="notification" *ngFor="let i of [1, 2, 3, 4]">
        <div class="not1">
          <p class="p3">ФОП</p>
          <p class="p2">ФОП “Прізвище І.П.”</p>
        </div>
        <div class="not2">
          <p class="p3">Номер</p>
          <p class="p1">654654654654</p>
        </div>
        <div class="not3">
          <p class="p3">Назва магазину</p>
          <p class="p2">Назва магазину</p>
        </div>
        <div class="not4">
          <p class="p3">Тема</p>
          <p class="p2">Назва теми повідомлення</p>
        </div>
        <div class="not5">
          <p class="p3">Текст</p>
          <p class="p2">Лінзи до окулярів Tifosi Mast Extreme Contrast Mast Extreme</p>
        </div>
        <div class="not6">
          <p class="p3">Дата</p>
          <p class="p2">15.09.2021</p>
        </div>
      </a>

    </div>

  </div>
</section>
