
  <section class="profile">
  	<div class="block">
      <div class="block_1200">
      	<h6>Ім’я Прізвище</h6>
      	<div class="name">
    			<div class="part">
    				<div>
    					<p class="p3">Контактні дані</p>
    					<p class="p2">ФОП Войцевич А.А.</p>
    				</div>
    				<div>
    					<p class="p3">Входить до холдингу</p>
    					<p class="p2">ФОП Войцевич А.А.</p>
    				</div>
    				<div>
    					<p class="p3">Інші юридичні особи холдингу</p>
    					<p class="p2">ФОП Войцевич А.А.</p>
    					<p class="p2">ФОП Войцевич А.А.</p>
    					<p class="p2">ФОП Войцевич-Войцевич Г.А.</p>
    				</div>
    			</div>
    			<div class="part">
    				<div>
    					<p class="p3">Назва магазину</p>
    					<p class="p2">Mad Bikes</p>
    				</div>
    				<div>
    					<p class="p3">Точки доставки</p>
    					<p class="p2">НП 80 Київ</p>
    					<p class="p2">НП 80 Київ</p>
    					<p class="p2">НП 80 Київ</p>
    				</div>
    			</div>
    			<div class="part">
    				<div>
    					<p class="p3">Контактні особи</p>
    					<p class="p2">Войцевич Г.А</p>
    					<p class="p2">+38 073 1231212</p>
    					<p class="p2">Грусненький Г.Ф.</p>
    					<p class="p2">+38 073 1231212</p>
    					<p class="p2">Крюгер В.Ж.</p>
    					<p class="p2">+38 073 1231212</p>
    				</div>
    			</div>
    			<div class="part feedback">
  					<div class="img">
  						<picture><source srcset="img/cart/info.webp" type="image/webp"><img src="img/cart/info.png" alt=""></picture>
  					</div>
  					<div class="info">
  						<p class="p3">Додати точки доставки та контактних осіб можна звернувшись до сервіс менеджера листом на <a href="#">info@veloportal.com.ua</a>, або формою зворотнього зв'язку.</p>
  						<button type="button" class="btn2 fdb" id="fdb_btn" data-form-message="Зворотній зв’язок" data-input-message="Запит на додавання або зміну контактної інформації">Зворотній зв’язок</button>
  					</div>
    			</div>
    			<div class="control">
    				<p class="p3">Керування</p>
    				<button type="button" class="btn2 pass" data-form-message="Змініть пароль до особистого кабінету">Змінити пароль</button>
    			</div>
      	</div>
      	<h6>Замовлення з Excel файлу</h6>
      	<div class="orderFromFile" id="orderFromFile">
      		<h5>1</h5>
      		<form class="f1">
      			<div class="item">
      				<p class="p3">Виробник:</p>
      				<div class="field">
      					<div class="click_area">
	                <input type="text" value="Оберіть бренд">
	                <div class="select">
	                  <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	                    <path d="M10 2L6 6L2 2" stroke="#292C37" stroke-width="2" stroke-linecap="square"/>
	                  </svg>
	                </div>
                </div>
                <div class="drop">
                  <span>Бренд 1</span>
                  <span>Бренд 2</span>
                  <span>Бренд 3</span>
                </div>
              </div>
      			</div>
      			<div class="item">
      				<p class="p3">Група товарів:</p>
      				<div class="field">
      					<div class="click_area">
                <input type="text" value="Оберіть групу товарів">
	                <div class="select">
	                  <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	                    <path d="M10 2L6 6L2 2" stroke="#292C37" stroke-width="2" stroke-linecap="square"/>
	                  </svg>
	                </div>
                </div>
                <div class="drop">
                  <span>Група 1</span>
                  <span>Група 2</span>
                  <span>Група 3</span>
                </div>
              </div>
      			</div>
      			<div class="item">
      				<p class="p3">Сформуйте XLS-файл</p>
      				<input type="submit" value="Вивантажити залишки" class="btn2">
      			</div>
      		</form>
      		<h5>2</h5>
      		<form>
      			<div class="item">
      				<p class="p3">Додайте сгенерований XLS-файл:</p>
    					<input type="file" id="profile_addFile">
    					<label for="profile_addFile">
      					<svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 0C11.7614 0 14 2.23858 14 5V17C14 20.866 10.866 24 7 24C3.13401 24 0 20.866 0 17V9H2V17C2 19.7614 4.23858 22 7 22C9.7614 22 12 19.7614 12 17V5C12 3.34315 10.6569 2 9 2C7.3431 2 6 3.34315 6 5V17C6 17.5523 6.4477 18 7 18C7.5523 18 8 17.5523 8 17V6H10V17C10 18.6569 8.6569 20 7 20C5.3431 20 4 18.6569 4 17V5C4 2.23858 6.2386 0 9 0Z" fill="#292C37"/>
								</svg>
								<p class="p3">Додайте файл <span>(до 20 мб)</span></p>
    					</label>
      			</div>
      			<div class="item">
      				<p class="p3">Підтвердіть замовлення</p>
      				<input type="submit" id="profile_submit">
      				<label for="profile_submit" class="profile_submit">
      					<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 20C10.1046 20 11 19.1046 11 18C11 16.8954 10.1046 16 9 16C7.89543 16 7 16.8954 7 18C7 19.1046 7.89543 20 9 20Z" fill=""/>
									<path d="M19 18C19 19.1046 18.1046 20 17 20C15.8954 20 15 19.1046 15 18C15 16.8954 15.8954 16 17 16C18.1046 16 19 16.8954 19 18Z" fill=""/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M4.59468 0.378732C4.53904 0.156148 4.33905 0 4.10961 0H0.5C0.223858 0 0 0.223858 0 0.5V1.5C0 1.77614 0.223858 2 0.5 2H3L5.82112 14.2249C5.92583 14.6786 6.32986 15 6.79551 15H19.3636C19.8469 15 20.2611 14.6544 20.3475 14.1789L21.9839 5.17889C22.0955 4.56505 21.6239 4 21 4H6.28078C5.89648 4 5.55349 3.78096 5.38678 3.44828C5.35443 3.38372 5.32872 3.31488 5.31063 3.24254C5.07199 2.28794 4.82864 1.33449 4.59468 0.378732ZM5.97199 5.98418L7.59103 13H18.5291L19.8018 6H6.28078C6.17674 6 6.07371 5.99465 5.97199 5.98418Z" fill=""/>
								</svg>
								<p class="p1">Зробити замовлення</p>
      				</label>
      			</div>
      		</form>
      	</div>
      	<h6>Останні замовлення</h6>
      	<div class="last_orders">
      		<div class="merchandise" *ngFor="let i of [1, 2, 3]">
	    			<a [routerLink]="['/order', '12']" class="info">
	    				<div class="date">
	    					<p class="p3">Дата</p>
	    					<span>15.09.2021</span>
	    				</div>
	    				<div class="number">
	    					<p class="p3">Номер</p>
	    					<span>654654654654654</span>
	    				</div>
	    				<div class="sum">
	    					<p class="p3">Сума</p>
	    					<span>607.65</span>
	    				</div>
	    				<div class="status">
	    					<p class="p3">Статус</p>
	    					<span class="status">Назва статусу</span>
	    				</div>
	    			</a>
	    			<a href="check.pdf" download class="download">
	    				<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8 0V6.58575L10.2928 4.29291L11.7071 5.70712L6.99995 10.4142L2.29285 5.70712L3.70706 4.29291L6 6.58585V0H8Z" fill="#94969B"/>
								<path d="M2 9H0V14H14V9H12V12H2V9Z" fill="#94969B"/>
							</svg>
							<p><span>Рахунок у </span>.pdf</p>
	    			</a>
	      	</div>
	      	<a [routerLink]="['/orders']" class="next">Далі</a>
      	</div>
      </div>

  	</div>
  </section>
